Exercise 1: Prime Number

In [25]:
n=int(input("enter the number: "))
if n<=1:
  print("not a prime number")
else:
  for i in range(2,int(n/2)+1):
    if n%i==0:
      print("not a prime")
      break
  else:
    print("a prime number")

enter the number: 4
not a prime

Exercise 2: Product of Random Numbers

In [7]:
import random
num1=random.randint(1,10)
num2=random.randint(1,10)
print(f" product of {num1}*{num2}")
ans=int(input("enter the answer: "))
if ans==num1*num2:
  print("correct")
else:
  print("incorrect")

 product of 6*5
enter the answer: 30
correct

Exercise 3: Squares of Even/Odd Numbers

In [20]:
choice=input("enter your choice: 'even' or 'odd' :")
for i in range(100,201):
  if choice=="even" and i%2==0:
    print(f"square of {i} = {i**2}")
  elif choice=="odd" and i%2!=0:
    print(f"square of {i} = {i**2}")

enter your choice: 'even' or 'odd' :even
square of 100 = 10000
square of 102 = 10404
square of 104 = 10816
square of 106 = 11236
square of 108 = 11664
square of 110 = 12100
square of 112 = 12544
square of 114 = 12996
square of 116 = 13456
square of 118 = 13924
square of 120 = 14400
square of 122 = 14884
square of 124 = 15376
square of 126 = 15876
square of 128 = 16384
square of 130 = 16900
square of 132 = 17424
square of 134 = 17956
square of 136 = 18496
square of 138 = 19044
square of 140 = 19600
square of 142 = 20164
square of 144 = 20736
square of 146 = 21316
square of 148 = 21904
square of 150 = 22500
square of 152 = 23104
square of 154 = 23716
square of 156 = 24336
square of 158 = 24964
square of 160 = 25600
square of 162 = 26244
square of 164 = 26896
square of 166 = 27556
square of 168 = 28224
square of 170 = 28900
square of 172 = 29584
square of 174 = 30276
square of 176 = 30976
square of 178 = 31684
square of 180 = 32400
square of 182 = 33124
square of 184 = 33856
square of 186 = 34596
square of 188 = 35344
square of 190 = 36100
square of 192 = 36864
square of 194 = 37636
square of 196 = 38416
square of 198 = 39204
square of 200 = 40000

Problem Statement (Question): Hospital Billing System

In [27]:
r=4
t=3
m_cost=2400
doctor_fee = 1500
room_charge= r*2000
test_charge=t*300
bill=room_charge+test_charge+m_cost+doctor_fee
print("total bill =",bill)
if bill<=10000:
  print("no discount")
else:
  print("discount = 10%")
  print("total bill after discount =",bill*0.9)

total bill = 12800
discount = 10%
total bill after discount = 11520.0